body {
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

form {
    width: 500px;
    border: 2px solid rgb(183, 222, 237);
    padding: 30px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 2px solid #f0ecec;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: rgb(111, 131, 178);
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: rgb(64, 102, 102);
    padding: 10px 15px;
    color: aliceblue;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

button:hover {
    opacity: .7;
}

.error {
    background: rgb(239, 169, 169);
    color: #ba5a5a;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
h1 {
    text-align: center;
    color: #fff;
}

a {
    float: right;
    background: rgb(64, 102, 102);
    padding: 10px 15px;
    color: aliceblue;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}
a:hover {
    opacity: .7;
}